/* modal.moduls.css */

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.buttonsDivTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px; 
    width: 100%;
}

.closeButton {
    position: absolute;
    right: 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.buttonsDivBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px; 
    width: 80%;
}

.prevButton {
    margin-left: 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    /* font-size: 1.5rem; */
    font-size: 3rem;
    
}

.nextButton {
    margin-right: 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    /* font-size: 1.5rem; */
    font-size: 3rem;
    
}

.closeButton::after {
    content: "X"; /* Unicode 문자로 왼쪽 화살표 아이콘 */
}

.prevButton::after {
    content: "\00AB"; /* Unicode 문자로 왼쪽 화살표 아이콘 */
}

.nextButton::after {
    content: "\00BB"; /* Unicode 문자로 오른쪽 화살표 아이콘 */
}

.modalContent {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
}

.sliderWrapper {
    height: 100%;
}

.slideItem {
    overflow: hidden;
    touch-action: none;
}
